.cellWrapper {
  position: relative;

  height: 100%;

  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;

  overflow: visible;

  &::after {
    content: "";

    position: absolute;
    inset: 0;

    pointer-events: none;
    z-index: 10;
  }

  &.selected::after {
    border: 2px solid #0b57d0;
  }

  // &.editing::after {
  //   outline: 2px solid #a8c7fa;
  // }
}

.cell {
  overflow: visible;
}
.value {
  width: 100%;
  min-width: 0;
  min-height: 0;

  padding: 3px 4px;
}

.editor {
  border: 2px solid #0b57d0;
  outline: 2px solid #a8c7fa;
  background: red;
  position: absolute;

  inset: 0;

  display: flex;
  flex-direction: column;

  z-index: 20;

  overflow: visible;
}
