# =========================
# Server
# =========================
PORT=3000
NODE_ENV=development

# =========================
# Database (postgresql)
# =========================
DATABASE_URL="postgresql://postgres:admin@localhost:5432/sheet_clone"

# =========================
# JWT Authentication
# =========================
JWT_SECRET=your_access_token_secret_key
JWT_REFRESH_SECRET=your_refresh_token_secret_key
JWT_ACCESS_TOKEN_EXPIRES=1d
JWT_REFRESH_TOKEN_EXPIRES=7d