.grid {
  overflow: hidden !important;

  border-bottom: 1px solid #d3d3d3;

  background-color: #f8f9fa;
}

.cell {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  background-color: #f8f9fa;
  color: #333;

  font-weight: 500;

  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;

  user-select: none;

  &::after {
    content: "";

    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;

    height: 6px;

    cursor: row-resize;

    z-index: 10;
  }

  &--resizing {
    user-select: none;
  }
}
